.imgBtn {
  cursor: pointer;
}

.infoBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  p {
    margin: 14px 0;
    font-size: 14px;
    line-height: 17px;
  }
  .price {
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    color: #bdbdbd;
  }
}
