@import 'macro-css';
* {
  font-family: 'Inter', sans-serif;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f6ff;
}
button,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 1.5rem;
}
button {
  background: none;
  border: none;
  cursor: pointer;
}
button.greenBtn {
  width: 100%;
  background: #9dd558;
  border-radius: 18px;
  height: 55px;
  font-weight: 600;
  color: #fff;
  transition: background 0.1s ease-in-out;
  position: relative;
  &.left {
    img {
      left: 30px;
      transform: rotate(180deg);
    }
    &:hover {
      img {
        transform: rotate(180deg) translateX(5px);
      }
    }
  }
  &:hover {
    background: lighten($color: #9dd558, $amount: 5%);
    img {
      transform: translateX(5px);
    }
  }
  &:active {
    background: darken($color: #9dd558, $amount: 5%);
  }
  &:disabled {
    background-color: #bebebe !important;
    cursor: default;
    animation: button-loading 0.7s ease-in-out infinite;
  }
  img {
    position: absolute;
    right: 30px;
    transition: transform 0.15s ease-in-out;
  }
}
.wrapper {
  background-color: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 0 auto;
  margin-top: 85px;
  position: relative;
}
.card {
  padding: 0 50px 40px;
  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .search__block {
    border: 1px solid #f3f3f3;
    border-radius: 10px;
    width: 250px;
    input {
      border: 0;
      padding: 14px 0 14px 10px;
      width: 100%;
    }
  }
}
.cardItem {
  width: 210px;
  border: 1px solid #f3f3f3;
  border-radius: 40px;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
  padding: 30px;
  margin-bottom: 40px;
  &:hover {
    box-shadow: 0px 14px 36px rgba(0, 0, 0, 0.08);
    transform: translateY(-5px);
  }
}
.removeBtn {
  cursor: pointer;
  opacity: 0.4;
  transition: opacity 0.15s ease-in-out;
  &:hover {
    opacity: 1;
  }
  &.search {
    width: 25px;
    margin-left: 10px;
  }
}
.cartWrapper {
  margin: auto 0;
  text-align: center;
}
.cartTotalBlock {
  ul {
    display: block;
    margin-bottom: 40px !important;

    li {
      display: flex;
      align-items: flex-end;
      margin-bottom: 20px;

      div {
        flex: 1;
        height: 1px;
        border-bottom: 1px dashed #dfdfdf;
        position: relative;
        top: -4px;
        margin: 0 7px;
      }
    }
  }
}
@keyframes button-loading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
